.site-404-box {
	display: flex;
	justify-content: center;
	margin-top: 180px;
	text-align: center;
}

.site-404-text {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-width: 384px;
}

.site-404-title {
	font-size: 40px;
	font-weight: 600;
	color: #666666;
	line-height: 1.4;
	margin: 0;
}

.site-404-subtitle {
	font-size: 18px;
	color: #666666;
	line-height: 1.4;
	margin: 10px 0 0;
}

.site-404-gohome {
	margin-top: 20px;
	display: inline-block;
	text-align: center;
	color: #fff;
	font-size: 14px;
	line-height: 32px;
	
	text-decoration: none;
	background: none;
	background-color: #4D4D4D;
	border-radius: 3px;
	border-color: #4D4D4D;
	border: 1px solid;
	padding: 0 16px;
}

.site-404-goup {
	margin-top: 20px;
	display: flex;
	background: none;
	align-items: center;
	color: #0084ff;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
}

.site-404-image-container {
	align-items: center;
	display: flex;
	height: 250px;
	width: 250px;
	justify-content: center;
	margin-top: 20px;
	margin-left: 20px;
}

.site-404-image {
	width: 200px;
	height: 200px;
}