.archives-wrap {
	position: relative;
	border: 1px solid #CFCFCF;
	box-shadow: 0 0 5px #C6C6C6;
	background: #fff;
	margin-bottom: 20px;
}

.archives-wrap .archive-year-wrap {
	line-height: 35px;
	width: 200px;
	border-left: ;
	position: relative;
	border-left: 5px solid #4d4d4d;
	padding-top: 15px;
	font-size: 1.8em;
	z-index: 1;
}

.archives-wrap .archive-year-wrap .archive-year {
	color: #666;
	font-weight: bold;
	padding-left: 48px;
	text-decoration: none;
}

.archive-articles {
	margin-top: 20px;
}

.archive-article {
	margin-left: 48px;
	border-top: 1px solid #eee;
	position: relative;
}

.archive-type-post {
	position:relative;
}

.archive-article-header {
	width: 500px;
}


.archive-article-title {
	font-size: 16px;
	color: #333;
	transition: color 0.3s;
}

.archive-article-title .article-title-url {
	color: #17181a;
	margin-left: 0px;
	font-weight: 300;
	line-height: 35px;
	font-size: 18px;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
	text-decoration: none;
}

.archive-article-title .article-title-url:hover {
	color: #1e6bb8;
	text-decoration:underline;
}

.archive-article-header .icon-clock {
	margin-right: 5px;
}

.archive-article-header .archive-article-date {
	position: absolute;
	right: 0;
	top: 17px;
	width: 12rem;
	padding-right: 1.2rem;
	font-size: 14px;
	text-align: right;
	z-index: 1;
}

.archive-article-header .archive-article-date time {
	color: #aaa;
	float: right;
}


/*归档页：分类、标签*/

.archive-article-inner .article-category:before {
	float: left;
	margin-top: 1px;
	left: 15px;
}

.archive-article-inner .article-category .article-category-link {
	width: auto;
	max-width: 83px;
	padding-left: 10px;
}

.archive-article-inner .article-tag-list {
	margin-top: 0px;
}

.archive-article-inner .article-tag-list:before {
	left: 15px;
}

.archive-article-inner .article-tag-list .article-tag-list-item {
	display: inline-block;
	width: auto;
	max-width: 83px;
	padding-left: 8px;
	font-size: 12px;
}

.article-read-count {
	color: #999;
	height: 20px;
}

.read-count {
	line-height: 20px;
}

.read-count .icon {
	margin-right: 10px;
	margin-top: 0px;
}
