/* 文章基本 */
.article-inner {
	position: relative;
	margin-bottom: 0px;
	word-break: break-word;
	border: 1px solid #CFCFCF;
	box-shadow: 0 0 5px #C6C6C6;
}

.article-inner .article-header {
	border-left: 5px solid #4d4d4d;
	padding: 20px 0px 15px 25px;
	width: 460px;
}

.article-header .article-title {
	color: #696969;
	margin: 0px;
	font-weight: 400;
	line-height: 1.3;
	font-size: 26px;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
}

.article-header .article-title .article-title-url {
	color: #696969;
	text-decoration: none;
}

.article-header .article-title .article-title-url:hover {
	color: #ff7242;
	text-decoration:underline;
}

.article-inner .article-read-words-times {
	margin: 20px 30px ;
}

.article-date {
	position: absolute;
	right: 0;
	top: 24px;
	width: 12rem;
	padding-right: 1.2rem;
	font-size: 14px;
	text-align: right;
	z-index: 1;
}

.article-date time {
	color: #aaa;
	float: right;
}



/* 文章内容 CSS */
.article-entry {
	font-size: 16px;
	color: #333;
	line-height: 1.6;
	word-spacing: 0px;
	letter-spacing: 0px;
	word-break: break-word;
	word-wrap: break-word;
	text-align: justify;
}

#article-entry-excerpt {
	padding: 10px 30px;
}

#article-entry-content {
	padding: 25px 30px;
}

.article-entry p {
	font-size: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin: 0;
	line-height: 26px;
}

.article-entry blockquote {
	font-size: 14px;
	overflow: auto;
	border-left: 3px solid rgba(0, 0, 0, 0.4);
	background: rgba(0, 0, 0, 0.05);
	color: #6a737d;
	padding: 10px 10px 10px 20px;
	margin: 20px 0px 20px 0px;
}

.article-entry blockquote p {
	color: #333;
	margin: 0px;
	line-height: 26px;
}

.article-entry p code {
	font-size: 14px;
	word-wrap: break-word;
	word-break: break-all;
	padding: 2px 4px;
	border-radius: 4px;
	margin: 0 2px;
	color: #1e6bb8;
	background-color: rgba(27,31,35,.05);
}

.article-entry em {
	font-style: italic;
}


.article-entry ul {
	list-style-type: disc;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-left: 25px;
}

.article-entry ol {
	list-style-type: decimal;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-left: 25px;
	counter-reset: item;
}

.article-entry li {
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 26px;
	text-align: left;
}

.article-entry a {
	text-decoration: none;
	color: #1e6bb8;
	word-wrap: break-word;
	font-weight: bold;
	border-bottom: 1px solid #1e6bb8;
}

.article-entry a:hover {
	color: #ff7242;
	border-bottom: 1px solid #ff7242;
}

.article-entry img {
	display: block;
	margin: 0 auto;
	width: auto;
	max-width: 100%;
	vertical-align: middle;
	border-style: none;
}

.article-entry figcaption {
	margin-top: 5px;
	text-align: center;
	color: #888;
	font-size: 14px;
}

.article-entry h1,h2,h3,h4,h5,h6 {
	margin-top: 30px;
	margin-bottom: 15px;
	font-weight: bold;
	color: #333;
}

.article-entry h1 {
	text-align: center;
	font-size: 24px;
}

.article-entry h2 {
	font-size: 22px;
	border-bottom: 1px solid #ddd;
}

.article-entry h3 {
	font-size: 20px;
	border-bottom: 1px solid #ddd;
}

.article-entry h4 {
	font-size: 18px;
}

.article-entry h5,h6 {
	font-size: 16px;
}

.article-entry video {
	max-width: 100%;
}

.article-entry strong {
	font-weight: bold;
	color: #ff7242;
}

.article-entry .caption {
	display: block;
	font-size: 0.8em;
	color: #aaa;
}
.article-entry hr {
	height: 1px;
	margin: 10px 0px 10px 0px;
	border-left: 0;
	border-right: 0;
	border-top: 1px solid #DDD;
	border-bottom: 0;
}

.article-entry pre {
	padding: 16px 16px 16px 28px;
	margin: 10px 0px;
	font-size: 14px;
	background-color: rgba(0,0,0,0.03);
	border: 1px solid #f0f0f0;
}

.article-entry pre code {
	line-height: 26px;
}

.article-entry table {
	border: none;
	width: auto;
	margin: auto;
	text-align: left;
	border-collapse: collapse;
}

.article-entry table tr {
	border: 0;
	border-top: 1px solid #ccc;
	background-color: white;
}
.article-entry table tr th {
	font-weight: bold;
	text-align: center;
	background-color: #f0f0f0;
}

.article-entry table tr th,td {
	font-size: 16px;
	padding: 5px 10px;
	border: 1px solid #ccc;
}

.article-copyright {
	margin: 0px 30px 25px 30px;
	border-left: 3px solid rgba(0, 0, 0, 0.4);
	background-color: rgba(0, 0, 0, 0.05);
	list-style: none;
}

.article-copyright ul {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 20px 10px 20px 35px;
	font-size: 14px;
	list-style-type: disc;
}

.article-copyright a {
	text-decoration: none;
	color: #1e6bb8;
	word-wrap: break-word;
	font-weight: bold;
	border-bottom: 1px solid #1e6bb8;
}