@-webkit-keyframes cd-bounce-1 {
	0% {
		opacity: 0;
		-webkit-transform: scale(1);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale(1.01);
	}
	100% {
		-webkit-transform: scale(1);
	}
}
@-moz-keyframes cd-bounce-1 {
	0% {
		opacity: 0;
		-moz-transform: scale(1);
	}
	60% {
		opacity: 1;
		-moz-transform: scale(1.01);
	}
	100% {
		-moz-transform: scale(1);
	}
}
@keyframes cd-bounce-1 {
	0% {
		opacity: 0;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale(1.01);
		-moz-transform: scale(1.01);
		-ms-transform: scale(1.01);
		-o-transform: scale(1.01);
		transform: scale(1.01);
	}
	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}

/*------------------------------
	Content
------------------------------*/
.site-content.no-border {
	border-top: none;
}

.site-content {
	margin: 0px auto 0px;
	clear: both;
	width: 960px;
	display: block;
	position: relative;
}


/*------------------------------
	article
------------------------------*/
.article {
	margin-bottom: 20px;
	position: relative;
	background: #fff;
	-webkit-transition: all 0.2s ease-in;
}

.article img {
	max-width: 100%;
}

.article .article-type-post {
	margin-bottom: 0px;
}

.article-inner h1.article-title {
	color: #17181a;
	margin-left: 0px;
	font-weight: 400;
	line-height: 35px;
	margin-bottom: 20px;
	font-size: 18px;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
}

.article-inner h1.article-title .article-title-url {
	color: #17181a;
	text-decoration: none;
}

.article-inner h1.article-title .article-title-url:hover {
	color: #b0a0aa;
	text-decoration:underline;
}

.article-header {
	border-left: 5px solid #4d4d4d;
	padding: 20px 0px 15px 25px;
	width: 460px;
}

.article-date {
	position: absolute;
	right: 0;
	top: 24px;
	width: 12rem;
	padding-right: 1.2rem;
	font-size: 14px;
	text-align: right;
	z-index: 1;
}

.article-date time {
	color: #aaa;
	float: right;
}

.article-more-link {
	margin-top: 0;
	margin-bottom: 0;
	text-align: left;
	float: right;
}

.article-more-link a {
	background: #4d4d4d;
	color: #fff;
	font-size: 12px;
	padding: 5px 8px 5px;
	line-height: 16px;
	white-space: nowrap;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	transition: background 0.3s;
	opacity: 0.75;
	text-decoration: none;
}

.article-more-link a:hover {
	background: #3c3c3c;
	opacity: 1;
}

.article-more-link a.hidden {
	visibility: hidden;
}

.article-info-index {
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0px 30px 0 30px;
	min-height: 40px;
	border-top: 1px solid #ddd;
}

.clearfix {
	*zoom: 1;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

