/*------------------------------
	banner
------------------------------*/
.banner-box {
	margin: 0px;
	padding: 0px;
	margin-bottom: 20px;
	position: relative;
	background: #fff;
	border: 1px solid #CFCFCF;
	box-shadow: 0 0 5px #C6C6C6;
}
.banner-header {
	border-left: 5px solid #4d4d4d;
	padding: 20px 0px 15px 25px;
}

.banner-title {
	color: #333;
	font-size: 18px;
	font-weight: 400;
	margin: 0px;
}


/*------------------------------
	article
------------------------------*/
.article {
	margin-bottom: 20px;
	position: relative;
	background: #fff;
	-webkit-transition: all 0.2s ease-in;
}

.article img {
	max-width: 100%;
}

.article .article-type-post {
	margin-bottom: 0px;
}



.article-more-link {
	margin-top: 0;
	margin-bottom: 0;
	text-align: left;
	float: right;
}

.article-more-link a {
	background: #4d4d4d;
	color: #fff;
	font-size: 12px;
	padding: 5px 8px 5px;
	line-height: 16px;
	white-space: nowrap;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	transition: background 0.3s;
	opacity: 0.75;
	text-decoration: none;
}

.article-more-link a:hover {
	background: #3c3c3c;
	opacity: 1;
}

.article-more-link a.hidden {
	visibility: hidden;
}

.article-info-index {
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0px 30px 0 30px;
	border-top: 1px solid #ddd;
}

.clearfix {
	*zoom: 1;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}



