.wrap-side-operation {
	position: absolute;
	width: 60px;
	height: 60px;
	right: 30px;
	bottom: 100px;
}


#back-top {
	position: fixed;
	width: 45px;
	height: 45px;
	bottom: 80px;
	right: 30px;
	background: #fff;
	text-align: center;
	border-radius: 100%;
	border: .06em solid #e6ebf5;
	line-height: 45px;
	text-decoration: none;
	box-shadow: 0 0 1.5em 0 rgb(0 0 0 / 12%);
}


#back-top .icon-plane {
	color: #9c9c9c;
	opacity: 0.7;
	font-size: 20px;
	margin: 12.5px;
	text-align: center;
	display: block;
}