/*-------main---------*/
.autoMenu {
	position: relative;
	margin: 0px;
	padding: 0px;
	z-index: 1;
	text-align: left;
}
.autoMenu ul {
	line-height: 2;
	list-style-type: none;
	overflow-y: auto; 
}

.autoMenu ul:before {
	position: absolute;
	content: "";
	top: 12px;
	left: 43px;
	bottom: 12px;
	width: 2px;
	background-color: #ebedef;
	z-index: -1;
}

.autoMenu a:before {
	content: "";
	width: 6px;
	height: 6px;
	background-color: #333;
	border-radius: 50%;
	display: inline-block;
	z-index: 100;
	margin: 14px 10px 0px 1px;
	float: left;
}

.autoMenu a::before.active {
	content: "";
	width: 6px;
	height: 6px;
	background-color: #1e6bb8;
	border-radius: 50%;
	display: inline-block;
	z-index: 100;
	margin: 12px 10px 0px 1px;
	float: left;
}

.autoMenu ul li.active {
	color: #1e6bb8;
	background-color: #ebedef;
}

.autoMenu li:hover {
	background-color: #ebedef;
}

.autoMenu a {
	text-decoration: none;
	font-size: 14px;
}

.autoMenu a:hover {
	text-decoration: none;
}

.autoMenu a:focus {
	outline:none;
}
.autoMenu ul>li.toc-heading {
	font-weight: bold;
}
.autoMenu ul>li.toc-heading-sub {
	padding-left: 30px;
}
.autoMenu ul>li>a {
	color: #333;
}
.autoMenu ul li.active>a {
	color: #1e6bb8;
	background-color: #ebedef;
}