@charset "utf-8";
/*reset*/
.autoMenu div,ul,p,h1,h2,h3,h4,ol,dl,dd,dt,form,input,textarea,select,strong,em {
	padding: 0;
	margin: 0;
}

.autoMenu * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

.autoMenu li {
	list-style: none;
}

.autoMenu a {
	text-decoration: none;
	font-size: 14px;
}

.autoMenu a:hover {
	text-decoration: none;
}

.autoMenu a:focus {
	outline:none;
}

/*-------main---------*/
.autoMenu {
	position: relative;
	bottom: 0;
	right: 0;
	z-index: 1;
	text-align: left;
}
.autoMenu ul {
	line-height: 2;
	overflow-y: auto; 
	background: #fff;
	-webkit-box-shadow:0 0 10px #CCC;  
	-moz-box-shadow:0 0 10px #CCC;  
	box-shadow:0 0 10px #CCC;
}
.autoMenu ul>li.sub {
	padding-left: 20px;
}
.autoMenu ul>li>a {
	color: #399c9c;
}
.autoMenu ul>li.active>a {
	color: #ff5370;
}