.site-footer .footer-info {
	font-size: 12px;
	font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
	max-width: 960px;
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: #A1A1A1;
	line-height: 24px;
	padding-top: 16px;
	padding-bottom: 14px;
}

.site-footer .footer-info a {
	color: #A1A1A1;
}
.site-footer .outer {
	padding: 0 30px;
}

.site-footer .footer-site-uv-pv {
	margin: 0px;
}

.site-footer .footer-copyright {
	margin: 0px;
}