body, button, input, select, textarea {
	color: #1a1a1a;
	font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
}
body {
	overflow-y: hidden;
	background: #eaeaea;
}
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
html, body, #container {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

#mobile-nav {
	display: none;
}
.container {
	position: relative;
	min-height:100%;
	max-width: 1080px;
	margin: 0 auto;
	clear: both;
}

/*----------------------
	left-box
----------------------*/
#left-box {
	float: left;
	width: 640px;
	padding-top: 20px;
	padding-bottom: 80px;
}

/*----------------------
	right-box
----------------------*/
#right-box {
	float: left;
	width: 300px;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 80px;
}

/*----------------------
	footer
----------------------*/
.footer {
	text-align: center;
	font-size: 12px;
	margin: 30px auto;
	font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
	text-shadow: 0 1px #fff;
	position: relative;
	bottom: 30px;
	opacity: 0.6;
	width: 960px;
}