body, button, input, select, textarea {
	color: #1a1a1a;
	font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
}
body {
	background: #eaeaea;
}
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
html, body {
	height: auto;
	overflow-x: hidden;
	overflow-y: auto;
}

#mobile-nav {
	display: none;
}


/*----------------------
	header
----------------------*/
.site-header {
	line-height: 75px;
	position: relative;
	width: 100%;
	background: #FFFFFF;
/*	z-index: 50;*/
	border-bottom: 1px solid #DDDDDD;
}

/*----------------------
	left-box
----------------------*/
#left-box {
	float: left;
	width: 640px;
	padding-top: 20px;
}

/*----------------------
	right-box
----------------------*/
#right-box {
	float: left;
	width: 300px;
	padding-top: 20px;
	padding-left: 20px;
}

/*----------------------
	footer
----------------------*/
.site-footer {
	margin: 0;
	padding: 0;
	height: 61px;
	position: relative;
	width: 100%;
	background-color: #FFFFFF;
	border-top: 1px solid #DDDDDD;
/*	z-index: 50;*/
}

