.social-nav {
	width: 100%;
	position: relative;
	transition: transform .3s ease-in;
}

.social-nav .social {
	margin: 0px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.social-nav .social a {
	border-radius: 50%;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	vertical-align: auto;
	zoom: 1;
	display: inline;
	margin: 0 8px 15px 8px;
	transition: 0.3s;
	text-align: center;
	color: #fff;
	opacity: 0.7;
	width: 28px;
	height: 28px;
	line-height: 26px;
	text-decoration: none;
}

.social-nav .social a:hover {
	opacity: 1;
}

.social-nav .social a.weibo {
	background: #ef182e;
	border:1px solid #ef182e;
}
.social-nav .social a.weibo:hover {
	border:1px solid #ef182e;
}

.social-nav .social a.segmentfault {
	background: #009a61;
	border:1px solid #009a61;
}
.social-nav .social a.segmentfault:hover {
	border:1px solid #009a61;
}

.social-nav .social a.rss {
	background: #ef7522;
	border:1px solid #ef7522;
}
.social-nav .social a.rss:hover {
	border:1px solid #cf5d0f;
}

.social-nav .social a.github {
	background: #829aa4;
	border:1px solid #829aa4;
}
.social-nav .social a.github:hover {
	border:1px solid #829aa4;
}

.social-nav .social a.facebook {
	background: #3b5998;
	border:1px solid #3b5998;
}
.social-nav .social a.facebook:hover {
	border:1px solid #2d4373;
}

.social-nav .social a.google {
	background: #c83d20;
	border:1px solid #c83d20;
}
.social-nav .social a.google:hover {
	border:1px solid #9c3019;
}

.social-nav .social a.twitter {
	background: #55cff8;
	border:1px solid #55cff8;
}
.social-nav .social a.twitter:hover {
	border:1px solid #24c1f6;
}

.social-nav .social a.linkedin {
	background: #005a87;
	border:1px solid #005a87;
}
.social-nav .social a.linkedin:hover {
	border:1px solid #006b98;
}

.social-nav .social a.acfun {
	background: #fd4c5d;
	border:1px solid #fd4c5d;
}
.social-nav .social a.acfun:hover {
	border:1px solid #fd4c5d;
}

.social-nav .social a.bilibili {
	background: #e15280;
	border:1px solid #e15280;
}
.social-nav .social a.bilibili:hover {
	border:1px solid #e15280;
}

.social-nav .social a.zhihu {
	background: #0078d8;
	border:1px solid #0078d8;
}
.social-nav .social a.zhihu:hover {
	border:1px solid #0078d8;
}

.social-nav .social a.douban {
	background: #06c611;
	border:1px solid #06c611;
}
.social-nav .social a.douban:hover {
	border:1px solid #06c611;
}

.social-nav .social a.mail {
	background: #005a87;
	border:1px solid #005a87;
}
.social-nav .social a.mail:hover {
	border:1px solid #006b98;
}

.social-nav .social a.jianshu {
	background: #ff5722;
	border:1px solid #ff5722;
}
.social-nav .social a.jianshu:hover {
	border:1px solid #ff5722;
}

.social-nav .social a.weixin {
	background: #4caf50;
	border:1px solid #4caf50;
}
.social-nav .social a.weixin:hover {
	border:1px solid #4caf50;
}

.social-nav .social a.qq {
	background: #28a6e2;
	border:1px solid #28a6e2;
}
.social-nav .social a.qq:hover {
		border:1px solid #28a6e2;
	}

.social-nav .social a.psn {
	background: #086ef6;
	border:1px solid #086ef6;
}
.social-nav .social a.psn:hover {
	border:1px solid #086ef6;
}

.social-nav .social a.csdn {
	background: #c71d23;
	border: 1px solid #c71d23;
}
.social-nav .social a.csdn:hover {
	border: 1px solid #c71d23;
}

.social-nav .social a.gitee {
	background: #c71d23;
	border: 1px solid #c71d23;
}
.social-nav .social a.gitee:hover {
	border: 1px solid #c71d23;
}

.social-nav .social a.cnblogs {
	background: #2e7dcc;
	border: 1px solid #2e7dcc;
}
.social-nav .social a.cnblogs:hover {
	border: 1px solid #2e7dcc;
}

.social-nav .social a.nintendo-switch {
	background: #d81e06;
	border: 1px solid #d81e06;
}
.social-nav .social a.nintendo-switch:hover {
	border: 1px solid #d81e06;
}

.social-nav .social a.blog {
	background: #ff8346;
	border: 1px solid #ff8346;
}
.social-nav .social a.blog:hover {
	border: 1px solid #ff8346;
}