/* 置顶 */
.article-pop-out {
	float: left;
}

.article-pop-out .icon-tuding {
	color: #999;
	float: left;
	margin-right: 10px;
	margin-top: 6px;
}

.article-pop-out {
	float: left;
}

/* 标签 / 分类 */
.article-cat-tag {
	float: left;
}

.article-cat-tag .icon {
	color: #999;
	float: left;
	margin-right: 10px;
	margin-top: 6px;
}

.tagcloud a {
	display:inline-block;  
	text-decoration:none;  
	font-weight: normal;
	font-size:10px;  
	color:#fff;   
	height:18px;  
	line-height:18px;  
	float: left;
	padding:0 5px 0px 10px;  
	position:relative;  
	border-radius:0 5px 5px 0; 
	margin: 5px 9px 5px 8px;
	font-family: "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei" "Lucida Grande", Verdana, "Helvetica Neue", Arial;
}

.tagcloud a:hover {
	opacity: 0.8;
}

.tagcloud a:before {
	content: " ";
	width: 0px;
	height: 0px;
	position: absolute;
	top: 0;
	left: -18px;
	border: 9px solid transparent;
}

.tagcloud a:after {  
	content: " ";  
	width: 4px;  
	height: 4px;  
	background-color: #fff;  
	border-radius: 4px;  
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,.3);  
	position: absolute;  
	top: 7px;
	left: 2px;
}


.tagcloud a.color1 {
	background:  #FF945C;
}

.tagcloud a.color1:before {
	border-right-color: #FF945C;  
}

.tagcloud a.color2 {
	background:  #cc8167;
}

.tagcloud a.color2:before {
	border-right-color: #cc8167;  
}

.tagcloud a.color3 {
	background:  #BA8F6C;
}

.tagcloud a.color3:before {
	border-right-color: #BA8F6C;  
}

.tagcloud a.color4 {
	background: #94635c;
}

.tagcloud a.color4:before {
	border-right-color: #94635c;  
}

.tagcloud a.color5 {
	background: #7B5D5F;
}

.tagcloud a.color5:before {
	border-right-color:#7B5D5F;  
}

.tagcloud a.color6 {
	background: #88acdb;
}

.tagcloud a.color6:before {
	border-right-color: #88acdb;
}

.cat-tag-list {
	float: left;
	padding: 0;
	margin: 0;
}

.cat-tag-list .cat-tag-list-item {
	float: left;
}

